.Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Header button {
  background-color: transparent;
  border: none;
}

.Header i {
  font-size: 32px;
  color: #fff;
}
